
<div class="slider-container">
    <div class="slider" id="mySlider">
        <div class="slide"><img src="/css/media/slidebar/bmlobby.jpg" alt="Image 1"></div>
        <div class="slide"><img src="/css/media/slidebar/bmhs.jpg" alt="Image 2"></div>
        <div class="slide"><img src="/css/media/slidebar/BMnr.jpg" alt="Image 3"></div>
        <div class="slide"><img src="/css/media/slidebar/bmzen2.jpg" alt="Image 4"></div>
    </div>
</div>
<div class="home-container">
    <main role="main" class="">
        <div class="content-future">
            <h1 class="home-h1">Reach the Future</h1>
            <h2>For Humanity</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue.
                Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.
            </p>
            <h2>Future</h2>
            <div class="content-future-blackmesa">
                <p>
                    Phasellus fermentum malesuada <bold style="color:yellow">phasellus netus dictum aenean</bold> placerat egestas amet.
                    Ornare taciti semper dolor tristique morbi. Sem leo tincidunt aliquet semper eu lectus scelerisque quis.
                    Sagittis vivamus mollis nisi mollis enim fermentum laoreet.
                    Curabitur semper venenatis lectus viverra ex dictumst nulla maximus.
                    Primis iaculis elementum conubia feugiat venenatis dolor augue ac blandit nullam ac phasellus turpis feugiat mollis.
                    Duis lectus porta mattis imperdiet vivamus augue litora lectus arcu. 
                    Justo torquent pharetra volutpat ad blandit bibendum accumsan nec elit cras luctus primis ipsum gravida class congue.
                    <br />
                    <br />
                    <br />
                    <bold style="color:yellow">Black Mesa </bold>elementum finibus enim duis feugiat commodo adipiscing tortor tempor elit.
                    Et mollis consectetur habitant turpis tortor consectetur adipiscing vulputate dolor lectus iaculis convallis adipiscing.
                    Nam hendrerit dignissim condimentum ullamcorper diam morbi eget consectetur odio in sagittis.
                </p>    
                <img src="/css/media/teleport.jpg"/>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script src="~/js/home/home.js" asp-append-version="true"></script>
}