@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p> *@

<div class="">
<h2>testgdgdfg</h2>

</div>
