@model BMEmployee
<script src="~/js/login/login.js"></script>
<div class="bmemployee-index-login">
    <div class="bmemployee-index-identify">
        <input id="Username" placeholder='Username' autocomplete="off">
        <input id="Password" placeholder='Password' type='password' autocomplete="off">
        <button type="submit" onclick="login()" id='bmemployee-index-identify-button'>?</button>
    </div>
</div>
