<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="bmemployee-index-login">
    <button type="submit" onclick="ShowElement()" class="bmemployee-index-login-button">Login</button>
    <div class="bmemployee-index-identify"></div>
</div>

<script src="~/js/bmemployee/bmindex.js"></script>

